/* resources/css/app.css */

/* -----------------------------------------------------
// IMPORTS
// ---------------------------------------------------*/

/* Core styling */

@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";


/* Custom CSS architecture */

/* Base */
@import "./base/reset.css";
@import "./base/typography.css";

/* Layout */
@import "./layout/navigation.css";
@import "./layout/template.css";
@import "./layout/footer.css";

/* Components */
@import "./components/blocks.css";
@import "./components/cards.css";
@import "./components/elements.css";

/* Utilities */
@import "./utilities/animations.css";





/* -----------------------------------------------------
// THEME TOKENS (TAILWIND V4)
// ---------------------------------------------------*/

@theme {
    /* Typography */
    --font-brand: "LEMON MILK", sans-serif;
    --font-heading: "LEMON MILK", sans-serif;
    --font-body: "Nunito", sans-serif;
    --font-display: "Poppins", serif;
    --font-serif: "Roboto Slab", serif;
    --font-sans: "Roboto", sans-serif;

    /* Brand Colors */
    --color-metrix-light: #000000;

    /* Optional semantic aliases */
    --color-text: #FF0000;
    --color-background: #ffffff;
    --color-border: #e5e7eb;

    /* Radius */
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;

    /* Shadows */
    --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.06);
}

