/* FILENAME: RESET */


*, 
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    box-sizing: border-box;
}




/*************************/
/* ANIMATIONS */
/*************************/


@utility animation{
    @apply 
        transition-all
        ease-out
    ;
}


@utility animation-150{
    @apply
        animation
        duration-150
    ;
}


@utility animation-300{
    @apply
        animation
        duration-300
    ;  
}   